#Header{
    width: 100%;
    height: 80px;
    padding: 2rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: #fff;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.logo img{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu i{
    display: none;
    font-size: 2.3rem;
    position: absolute;
    top: 1.2rem;
    right: 0.5rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: flex;
}

ul li a{
    margin: 0 25px;
    color: #000;
    font-size: 1.1rem;
    font-weight: 400;
}

.Active a{
    color: #0065FE;
}

ul li a:hover{
    color: #0065FE;
}


.btn_1{
    width: 70px;
    font-size: 1rem;
    font-weight: 400;
    color: #0065FE;
    border: none;
    background: transparent;
    cursor: pointer;
}


.btn_2{
    width: 135px;
    height: 50px;
    font-size: 1rem;
    font-weight: 400;
    background: #0065FE;
    border: none;
    border-radius: 50px;
    color: #fff;
}

.btn_2:hover{
    opacity: 0.7;
    cursor: pointer;
}

.Logout{
    width: 110px;
    height: 50px;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #fb0f0f;background: transparent;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 1200px) {
    #Header{
        padding: 2rem 3rem;
    }
}

@media screen and (max-width:1024px) {
    #Header{
        padding: 1rem;
    }
}

@media screen and (max-width:769px) {
    #Header{
        padding: 0.75rem;
    }

    #Header .menu i{
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 60px; /* Adjust as needed */
        left: 0;
        width: 100%;
        height: 250px;
        background-color: #fff;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
        z-index: 999;
      }

      nav ul.show {
        display: block;
      }

      nav ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 10px 20px; */
        margin: 2rem 0;
      }

      .btn {
        display: none;
      }
}
